.backflyer-open
{
    overflow: hidden;
}

.backflyer
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
    font-family: Verdana, Arial, sans-serif;
    font-size: 48px;
}

    .backflyer.fade
    {
        top: -25%;
        -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
        transition: opacity 0.3s linear, top 0.3s ease-out;
    }

        .backflyer.fade.in
        {
            top: 0;
        }

.backflyer-backdrop
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #ffffff;
}

    .backflyer-backdrop.fade
    {
        opacity: 0;
        filter: alpha(opacity=0);
    }

        .backflyer-backdrop.fade.in
        {
            opacity: 1;
            filter: alpha(opacity=1);
        }

.backflyer > div.header
{
    height: 64px;
    text-align: right;
    background-color: #b3cc39;
    color: #fff;
    line-height: 64px;
    padding: 0px 30px;
}
    .backflyer > div.header.android, .backflyer > div.header.windows
    {
        background-image: url(../img/android.png);
        background-repeat: no-repeat;
        background-position: 5% center;
    }

    .backflyer > div.header.iphone, .backflyer > div.header.ipod, .backflyer > div.header.ipad
    {
        background-image: url(../img/ios.png);
        background-repeat: no-repeat;
        background-position: 5% center;
    }

.backflyer > div > div.app
{
    display: block;
    width: 49%;
    float: left;
    border-right: 12px solid #ccc;
    text-align: center;
    border-bottom: 12px solid #ccc;
    padding: 20px 0px;
}

    .backflyer > div > div.app:nth-child(even)
    {
        border-right: none;
    }

.backflyer a
{
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}

.backflyer img
{
    border: none;
    margin-bottom: 10px;
    width: 306px;
    height: 306px;
}

.backflyer div.title
{
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    font-weight: bold;
    font-size: 32px;
    margin: 10px auto;
    text-align: left;
    width: 306px;
}
.backflyer div.price
{
    color: #b3cc39;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    margin: 10px auto;
    text-align: left;
    width: 306px;
}
