// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { margin: 0px; padding: 0px;}
#container{ font-family: 'Open Sans', Verdana, sans-serif; }
.main-game{
  text-align: center;
  background-color: #000;
  opacity: 0.8;
  .top-text{ font-size: 3.5em; font-style: italic; color: #fff; margin: 0px auto; padding: 1em;}
  .image { height: 30em; width: 30em; margin: 0px auto; border-radius: 1em; background-color: #ccc;}
  .name { font-size: 5em; font-weight: bold; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #fff; padding: 0.8em;}
  .dl-button { background-color: #849e26; margin: 0px auto; padding: 1em 3em; display: inline-block;
    img { float: left; margin-right: 2em;}
    span { display: inline-block; color: #fff; font-size: 2em;}
    .big { font-size: 2.5em; font-weight: bold;}
  }
  .stars { background: transparent url("/img/stars.png") no-repeat 50% 0%; margin: 1em auto; width: 100%; height: 6em;}
  .arrow > div { width: 0;height: 0;border-left: 2em solid transparent; border-right: 2em solid transparent; border-bottom: 2em solid #fff; margin: 0px auto; }
}
.more-games {
  text-align: center;
  .bottom-text{ font-size: 3.5em; color: #000; margin: 0px auto; padding-top: 0.5em; text-align: center;}
  table { border: none; margin: 0.5em auto;}
  td { padding: 1em;}
  img { border-radius: 1em; width: 10em; height: 10em; border: 1px solid transparent;}
}